<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Message</title>
    <link rel="stylesheet" href="../static/css/Style.css" th:href="@{/css/Style.css}">
</head>
<body>
<h1> Message</h1>

<form action="#" th:action="@{/msg}" th:object="${newMessage}" method="post">
    <p>Author: </p>
    <input type="text" th:field="*{author}">
    <p>Message : </p>
    <input type="text" th:field="*{message}">
    <input type="submit" value="Save">
</form>
<div th:each="msg : ${msglist}">
    <p th:text="${msg.author}"> </p>
    <p th:text="${msg.timeStamp}"> </p>
    <p th:text="${msg.message}"> </p>

</div>
</body>
</html>